/.idea/
/.gradle/
/.quarkus/
/build/
.DS_Store
/taktx-shared/bin/
/docker/grafana/data/
/.vscode/
/docker/kafka/
/taktx-client-quarkus/build/
/taktx-client-spring/build/
/build-logic-jreleaser/build/
/build-logic-jreleaser/.gradle/

# jReleaser secrets and configuration
.env.jreleaser
*.asc
private-key.asc
public-key.asc
/env.jreleaser
/public.pem
/private.pem
